.container{
  display: grid;
  max-width: 1600px;
  margin: 15% auto;
  grid-template-columns: 30% 1fr 30%;;
  grid-template-rows: auto ;
  border:1px solid;
  height: auto;
}
.left_sidebar{
  margin-right: 2rem;
  background: bisque;
  overflow-x: hidden;
}
.main{
  background: brown;
}
.right_sidebar{
  background: coral;
  margin-left: 2rem
}
